CheckboxCategory {
    height: 10%;
    z-index: 3;

}
#CheckboxCategory{
    background-color: darkgray;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin-top: -0.6rem;

    z-index: 3;

}

#CheckboxCategory:hover{
    background-color: dimgrey;
}