body {
    background-color: #484B4B;
}

h1 {
    font-family: sans-serif;
    color: #FFF;
    text-align: center;
    margin: 2rem 0;
    font-size: 4vw;
}

h3{
    background-color: darkorange;
    border-radius: 2rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
object{
    width: 10rem;
    margin-left: 42%;
}
#content{
    background-color: #FFFFFF;
    border-radius: 1rem;
    margin: 2rem 5.5rem;
    padding: 2rem 6rem;
    max-width: 56%;
}
#test{
    position: absolute;
    margin-top: 4rem;
}
#test2{
    position: fixed;
    margin-left: 82%;
    margin-top: 2.8rem;

}
#test3{
    background-color: darkgray;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin-top: -0.6rem;
}

#test3:hover{
    background-color: dimgrey;
}
/*
ul.header li {
    background-color: #111;
    z-index: 2;
    padding: 0px;
    list-style: none;
    margin: 20px;
    margin-top: 30px;
}

ul.header {
    background-color: transparent;
    padding: 0;
    z-index: 2;
    position: absolute;
    margin-left: 60px;
    margin-top: 60px;
}

ul.header li a {
    z-index: 2;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #FFF;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 80px;
    margin-left: 120px;
    margin-top: 40px;
    margin-bottom: 80px;
    padding-left: 80px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.active {
    background-color: #0099FF;
}
*/