body {
    background-color: #484B4B;
}

h1 {
    font-family: sans-serif;
    color: #FFF;
    text-align: center;
    margin: 2rem 0;
}
/*
ul.header li {
    background-color: #111;
    z-index: 2;
    padding: 0px;
    list-style: none;
    margin: 20px;
    margin-top: 30px;
}

ul.header {
    background-color: transparent;
    padding: 0;
    z-index: 2;
    position: absolute;
    margin-left: 60px;
    margin-top: 60px;
}

ul.header li a {
    z-index: 2;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #FFF;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 80px;
    margin-left: 120px;
    margin-top: 40px;
    margin-bottom: 80px;
    padding-left: 80px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.active {
    background-color: #0099FF;
}
*/